body {
    font-family: Calibri;
}

@font-face {
    font-family: Calibri;
    src: url(../Fonts/Calibri.woff);
}

@font-face {
    font-family: CalibriBold;
    src: url(../Fonts/Calibri%20Bold.woff);
}

@font-face {
    font-family: CalibriLight;
    src: url(../Fonts/CalibriLinght.woff);
}

.b-page {
    background-position-x: center;
    background: url(../Img/background.jpg) no-repeat scroll;
    margin: 0px;
}

.b-page-line {
    background: #ffffff;
    width: 1049px;
    margin-left: auto;
    margin-right: auto;
}

.b-page-line_header {
    margin-top: 0px;
    padding-top: 0px;
    height: 64px;
}

.b-page-line_opacity {
    opacity: 0.9;
}

.b-head__clock {
    margin-left: 17px;
}

.b-clock {
    margin-top: 8px;
}

.b-head {

}

.b-head__logo {
    margin-left: 8px;
}

.b-head__links {
    display: inline-block;
    vertical-align: top;
}

.b-head__links:hover {
    text-decoration: none;
}

.b-login {

}

.b-logon__link {
    display: table;

}

.b-link-head {
    display: table-cell;
}

.b-logon__link {
    margin-left: 211px;
    padding-top: 25px;
}

.b-head__facebook-logo {
    margin-left: 25px;
    vertical-align: super;
}

.b-head__twitter-logo {
    margin-left: 13px;
    vertical-align: super;
}

.b-link-head {
    padding-left: 40px;
    color: black;
    font-family: CalibriBold;
}

.b-link-head:hover {
    text-decoration: none;
    font-family: Calibri;
}

.b-menu-line {
    height: 87px;
    margin-top: 12px;
}

.b-menu {
    font-size: 18px;
    display: table;
    vertical-align: middle;
    margin-left: -32px;
    margin-top: -3px;
}

.b-menu-item {
    padding-left: 68px;
    color: black;
    display: table-cell;
    text-decoration: dashed;
    font-family: CalibriBold;
}

.b-menu-item:hover {
    color: #268d07;
    text-decoration: none;
}

.b-news {
    margin-top: 12px;
    background: none;
    display: table;
}

.b-column1, .b-column2, .b-column3 {
    display: table-cell;
    vertical-align: top;
}

.b-column1 {

}

.b-column2 {
    padding-left: 7px;
}

.b-column3 {
    float: right;
}

.b-menu-item__seach {
    margin-left: 77px;
}

.b-menu-seach-img {
    padding-top: 14px;
}

.b-twitter-column, .b-team-pro-column {
    width: 260px;
    /*background: white;*/
}

.b-twitter-news, .b-team-pro-news, .b-popular-stories {
    background: inherit;
}

.b-twitter-news__head, .b-best-in-blogs-head, .b-team-pro-news__head, .b-popular-stories__head {
    height: 49px;
    background: #ebebeb;
    border-bottom: solid #ebebeb 4px;
}

.b-twitter-news__head:hover, .b-best-in-blogs-head:hover, .b-team-pro-news__head:hover, .b-popular-stories__head:hover {
    background: #ebebeb url("../Img/arrow_background.jpg") no-repeat;
    background-position-x: right;
    background-position-y: top;
    opacity: 0.9;
    border-bottom: solid #26a609 4px;
}

.b-twitter-head, .b-team-pro-head {

}

.b-twitter-head__img {
    padding-top: 8px;
    padding-left: 11px;
}

.b-twitter-head__text {
    font-size: 23px;
}

.b-twitter-news__posts {

}

.b-twitter-news__posts, .b-best-in-blogs-head__post, .b-team-pro-news__posts, .b-forum-posts, .b-popular-stories__posts {
    background: #ffffff;
}

.b-team-pro-news__posts {
    padding-top: 10px;
}

.b-new-at-blogs-posts {
    padding-right: 17px;
    padding-left: 10px;
}

.b-twitter-post {
    display: table;
    padding-bottom: 5px;
}

.b-team-pro-post {
    display: table;
    padding-bottom: 5px;
    margin-bottom: 9px;
}

.b-twitter-post3 {
    padding-top: 5px;
}

.b-twitter-post__img {
    display: table-cell;
    padding-left: 3px;
    padding-top: 2px;
}

.b-team-pro-post__img {
    display: table-cell;
    padding-left: 5px;
    padding-top: 2px;
}

.b-twitter-post__text {
    display: table-cell;
    vertical-align: top;
    padding-left: 6px;
    padding-right: 6px;

}

.b-team-pro__text {
    display: table-cell;
    vertical-align: top;
    padding-left: 3px;
    padding-right: 10px;

}

.b-twitter-post__head-text {
    padding-top: 2px;
    font-size: 15px;
}

.b-twitter-post__sub-text {
    font-family: CalibriLight;
    font-size: 14px;
    padding-top: 3px;
    line-height: 15.3px;
}

.b-twitter-read-all {
    padding-bottom: 5px;
}

.b-twitter-read-all p {
    color: black;
    text-align: center;
    vertical-align: middle;
}

.b-twitter-read-all a {
    text-decoration: none;
    text-decoration-color: black;
}

.b-new-at-forums-head {

}

.b-forum-post {
    font-size: 13px;
    margin-bottom: 7px;
}

.b-forum-post__time-text {
    padding-left: 14px;
}

.b-forum-post__time-text_p {
    margin-bottom: 0px;
    color: #767676;
}

.b-forum-post__time-text_p4 {
    margin-top: 25px;
}

.b-forum-post__time-text_p5 {
    margin-top: 20px;
}

.b-forum-post__nickname {

}

.b-forum-post__nickname_p {
    margin-top: 2px;
    padding-left: 13px;
    line-height: 1.29;
    font-size: 14px;;
}

.b-forum-post__nickname_strong {
    color: #064b85;
}

.b-forum-post__nickname_write-at {
    color: #ababab;
}

.b-forum-post__text {
    padding-top: 13px;
}

.b-forum-post__text_p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
}

.b-forum-post__date_p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
}

.b-new-at-blogs {
    margin-top: 37px;
}

.b-new-at-forums-head__head {
    font-size: 24px;
    padding-top: 13px;
    padding-left: 14px;
    margin-top: 15px;
}

.b-new-at-blogs-head__head {
    font-size: 24px;
    padding-top: 10px;
    padding-left: 16px;
    margin-top: 15px;
}

.b-best-in-blogs-column {
    width: 508px;
    display: inline-block;
}

.b-best-in-blogs-head__head {
    margin-top: 0px;
    padding-top: 9px;
    padding-left: 18px;
    font-size: 22px;
}

.b-best-in-blogs-head__post {
    padding-left: 18px;
    padding-top: 8px;
}

.b-best-in-blogs-head__post2 {
    margin-top: 10px;;
}

.b-best-blog-date {
    font-size: 13px;
}

.b-best-blog-date__cup-logo {
    background: url(../Img/cup_logo.jpg) no-repeat;
    background-position-x: left;
    padding-left: 17px;

}

.b-best-blog-date__author {
    padding-left: 18px;
}

.b-best-blog-date__date {

}

.b-best-blog-tags-line {
    font-size: 14px;
    margin-top: 5px;
}

.b-best-blog-tags-line_p {
    display: inline;
}

.b-best-blog-tags-line__tag {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    background: #ebebeb;
}

.b-best-blog-rating-line {
    font-size: 13px;
    margin-top: 11px;
}

.b-best-blog-rating-line__num-rating {
    color: #257b06;
    display: inline;
}

.b-best-blog-rating-line__plus {
    display: inline;
    background: #ebebeb;
    margin-left: 9px;
    font-size: 15px;
    padding: 5px;
}

.b-best-blog-rating-line_p {
    display: inline;
}

.b-best-blog-rating-line__comments {
    display: inline;
    margin-left: 18px;
}

.b-best-blog-bar-line {
    width: inherit;
    height: 3px;
    margin-top: 16px;
    background-color: #ebebeb;

}

.b-best-blog-head {
    font-size: 17px;
    color: #064b85;
}

.b-best-blog-head_h4 {
    margin-top: 0px;
    padding-top: 5px;
    font-size: 18px;
    font-family: CalibriBold;
    margin-bottom: 0px;
}

.b-best-blog-text {

}

.b-best-blog-text_p {
    margin-top: 4px;
    font-family: CalibriLight;
    line-height: 1;
    margin-bottom: 0px;
    padding-right: 25px;
}

.b-best-blog-img {
    margin-top: 7px;
}

.b-team-pro-column {

}

.b-team-pro-news__head {
}

.b-team-pro-head {
    margin-left: 16px;
}

.b-team-pro-head_img {
    padding-top: 8px;
}

.b-team-pro-head_div {
    display: inline;
    vertical-align: super;
    font-size: 19px;
    padding-left: 4px;
}

.b-team-pro-post {
    display: table;
}

.b-team-pro__text {
    display: table-cell;
    padding-top: 4px;
}

.b-team-pro__head-text {
    background: url("../Img/cup_logo.jpg") no-repeat;
    background-position-x: left;
    padding-left: 20px;
}

.b-team-pro-read-all {
    padding-bottom: 11px;
    padding-top: 13px;
}

.b-team-pro-read-all_a {
    text-decoration: none;
}

.b-team-pro-read-all_p {
    color: black;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
}

.b-popular-stories__head {
    margin-top: 22px;
}

.b-popular-stories__head_h4 {
    margin: 0;
    padding-top: 12px;
    font-size: 23px;
    padding-left: 20px;
}

.b-popular-stories__post {
    display: table;
    height: 74px;
}

.b-popular-post {
    display: table;
    padding-bottom: 5px;
    margin-bottom: 9px;
}

.b-popular-post__img {
    display: table-cell;
    padding-left: 10px;
    padding-top: 9px;
}

.b-popular-post__head {
    padding-top: 1px;
    color: #8b8b8b;
}

.b-popular-post-text-all {
    font-family: Calibri;
    font-size: 14px;
    display: table-cell;
    line-height: 15.3px;
    vertical-align: top;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

.b-popular-post__text {

}

.b-footer {
    background-color: #ebebeb;
    width: 100%;
    margin-top: 35px;
}

.b-footer-menu-item:hover {
    color: #268d07;
    text-decoration: none;
}

.b-footer__menu {

}
.b-footer-menu{
    display: table;
    padding-left: 225px;
}
.b-footer-menu-item {
    color: black;
    display: table-cell;
    text-decoration: dashed;
    font-family: CalibriBold;
    width: 120px;
}

.b-footer-menu-item__seach {
    display: table-cell;
}

.b-footer-menu-item__seach_img {

}

.b-footer__language {
    text-align: center;
    padding-top: 31px;

}

.b-language {

}

.b-language__button {
    height: 34px;
    width: 75px;
    border: solid 2px #b7b7b7;
    margin-left: -2px;
}
.b-language__button_rus{
    background: #ffffff url("../Img/rus_language.jpg") no-repeat right;
    margin-right: 12px;
}
.b-language__button_eng{
    background: #ffffff url("../Img/eng_language.jpg") no-repeat right;
}
.b-footer__about {
    padding-left: 515px;
    margin-top: 18px;
}

.b-about-item {
    text-decoration: none;
    color: black;
    padding-left: 20px;
}
.b-about-item1{
    padding-left: 0px;
}

.b-about-item:hover {
    color: #2c5d8f;
}

.b-footer__rights {
    text-align: center;
}